    @import "~bootstrap/dist/css/bootstrap.min.css";
    .footer {
        padding: 15px;
    }

    .footer p {
        margin-top: 5px;
        color: white;
        text-align: center;
    }

    .footer p:hover {
        color: white;
    }
