<div class="container">
    <h3> Property Binding </h3>
    <div class="row">
        <div class="col">

            <!-- in app.component.TS TITLE is DECLARED -->
            <p class="text-muted">This is {{title}}
                <p class="text-muted">This is {{title.toUpperCase()}}</p>


                <!-- in app.component.TS TITLEINFO() is DECLARED-->
                <p class="text-muted">{{titleinfo()}}
                </p>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div><input type="text" [value]="title"></div>
            <br/>
            <div><input type="text" style="border:1px solid blue;color:blue"></div>
            <br/>

            <!-- in app.component.TS  BRD is DECLARED-->
            <div><input type=" text " [style.border]="brd "></div>
            <br/>

            <!-- in app.component.CSS .ONLYRED is DECLARED <<< true / false >>> -->
            <div><input type=" text " [class.onlyred]="true"></div>
            <br/>

            <!-- Bootstrap class -->
            <div><input [style.width.px]="1000" type=" text " [class.alert-danger]="true"></div>
            <br/>

        </div>
    </div>
</div>

<hr/>
<hr/>

<div class="container">
    <h3> Event Binding </h3>
    <div class="row">
        <div class="col">
            <div><input type="text" [style.font-weight]="fntwt"></div>
            <br/>

            <div>
                <input type="button" value="Increase" class="btn btn-info" (click)="clk(1)">
                <input type="button" value="Decrease" class="btn btn-danger" (click)="clk(2)">
            </div>
            <br/>


        </div>
    </div>
</div>

<hr/>
<hr/>

<div class="container">
    <h3> MOUSE EVENTS </h3>

    <!-- dblclick() -->
    <div class="row">
        <div class="col">
            <p (dblclick)="dblclick()"><b>Double click EVENT</b> here ==
                <span> {{counter}}</span>
            </p>
        </div>
    </div>

    <!-- drag() -->
    <div class="row">
        <div class="col">
            <p (drag)="drag()"><b>Select and Drag </b> here ==
                <!-- <span> {{counter}}</span> -->
            </p>
        </div>
    </div>

    <!-- dragover() -->
    <div class="row">
        <div class="col">
            <p (dragover)="dragover()"><b>Drag and Drop </b> here ==
                <!-- <span> {{counter}}</span> -->
            </p>
        </div>
    </div>

    <!-- mousedown() -->
    <div class="row">
        <div class="col">
            <p (mousedown)="mousedown()"><b>Mousedown </b> here ==
                <!-- <span> {{counter}}</span> -->
            </p>
        </div>
    </div>

    <!-- mouseup() -->
    <div class="row">
        <div class="col">
            <p (mouseup)="mouseup()"><b>MousUp</b> here ==
                <!-- <span>{{counter}} </span> -->
            </p>
        </div>
    </div>

    <!-- mouseenter -->
    <div class="row">
        <div class="col">
            <p (mouseenter)="mouseenter()"><b>Mouseenter</b> here ==
                <!-- <span>{{counter}} </span> -->
            </p>
        </div>
    </div>

    <!-- mouseleave() -->
    <div class="row">
        <div class="col">
            <p (mouseleave)="mouseleave()"><b>Mouseleave</b> here ==
                <!-- <span>{{counter}} </span> -->
            </p>
        </div>
    </div>

    <!-- mouseover() -->
    <div class="row">
        <div class="col">
            <p (mouseover)="mouseover()"><b>Mouseover</b> here ==
                <!-- <span>{{counter}} </span> -->
            </p>
        </div>
    </div>




</div>

<hr/>
<hr/>

<h3>Project-Concept</h3>
<app-project-concept></app-project-concept>

<hr/>
<hr/>

<h3>Cpm1 & Cmp2</h3>
<app-cmp1 [progress]="calcProg"></app-cmp1>
<app-cmp2 (profileprogress)="onProgress($event)"></app-cmp2>