@import "~bootstrap/dist/css/bootstrap.min.css";
.onlyred {
    color: red;
    border: 1px double red;
}

.container {
    text-align: center;
}

p {
    background-color: wheat;
}

h3 {
    text-align: center;
}
