<div class="container">
    <div class="row border mt-3">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta, ullam non, expedita necessitatibus deleniti esse nisi provident maiores dolorum debitis ex, error dignissimos rerum accusantium? Molestiae quam perspiciatis accusamus.</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" [style.width.%]="progress" [aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">{{progress}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ng-content></ng-content>
        </div>
    </div>
</div>